/*Телефон*/
@media (max-width: 720px) {

.about, .form, footer{
  padding: 50px 10px 50px 10px;

}
header{
  padding: 10px;
}
header a{
  margin-right: 15px;
}
.footer__container{
  gap: 40px;
  flex-direction: column;
}


.header__logo{
  height: 20px;
}

.about h1{
  font-size: 36px;
  line-height: 40px;
}

.about__sun-img{
  width: 75px;
}

.about__panel{
  width: 280px;
}

/*Feature*/
.features{
  padding: 50px 10px;
}

.features__cards{
  grid-template-columns: auto;
}

.features__feedback{
  flex-direction: column;
}

.features__feedback-left{
  padding-right: 0;
}

.features__feedback-left h2{
  font-size: 36px;
}

.features__feedback-right{
  flex-direction: column;
  align-self: auto;
}

.features__box h3{
  font-size:  36px;
}

/*Promo*/
.promo{
  flex-direction: column-reverse;
}

.promo__right{
  padding: 50px 10px;
}
.promo__img{
  width: 100%;
}

}

/*Пленшет*/
@media (max-width: 1024px) {
  .about, .form, footer{
      padding: 50px 20px 50px 20px;

  }
  header{
    padding: 10px;
  }
  header a{
    margin-right: 15px;
  }
  .footer__container{
    flex-direction: row;
    gap: 40px;
  }


  .about h1{
    font-size: 36px;
    line-height: 40px;
  }

  .about__sun-img{
    width: 75px;
  }

  .about__panel{
    width: 280px;
  }

  .promo{
    flex-direction: column-reverse;
  }
  
  .promo__right{
    padding: 50px 10px;
  }
  .promo__img{
    width: 100%;
  }
}
